<div id="<%= dom_id quote %>">
  <p>
    <strong>Content:</strong>
    <%= quote.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= quote.author %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= quote.image %>
  </p>

</div>
