<h1>Edit Quote</h1>

<%= render "form", quote: @quote %><br>

<div>
  <button onclick="location.href='<%= quote_path(@quote) %>';">Show Quote</button>&nbsp;
  <button onclick="location.href='<%= quotes_path %>';">Back To Quotes</button>
</div>
