<div id="<%= dom_id quote_template %>">

  <p>
    <%= quote_template.quote_id %>
  </p>

  <p>
    <%= link_to image_tag(quote_template.image, style:"width:150px; height:150px"), quote_template.image %>
  </p>

</div>
