<h1>Editing quote template</h1>

<%= render "form", quote_template: @quote_template %>

<br>

<div>
  <%= link_to "Show this quote template", @quote_template %> |
  <%= link_to "Back to quote templates", quote_templates_path %>
</div>
