<p style="color: green"><%= notice %></p>

<h1>Quote templates</h1>

<%= link_to "New quote template", new_quote_template_path %>

<div id="quote_templates">
  <% @quote_templates.each do |quote_template| %>
    <%= render quote_template %>
    <p>
      <%= link_to "Show this quote template", quote_template %>
    </p>
  <% end %>
</div>
