<h1>Edit Template</h1>

<%= render "form", template: @template %><br>

<div>
  <button onclick="location.href='<%= template_path(@template) %>';">Show Template</button>&nbsp;
  <button onclick="location.href='<%= templates_path %>';">Back To Templates</button>
</div>
